<!DOCTYPE HTML>
<html lang = "en-US">
<head>


</head>
	<meta charset="UTF-8">
	<title> Movies - Top 50 Gross </title>
	<meta name = "viewPort" content = "width=device-width, initial-scale=1.0">
	<meta name = "description" content = "">
	<meta name = "keywords" content = "">

  <link href='http://fonts.googleapis.com/css?family=Donegal+One' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <link href="custom.css" rel="stylesheet">
</head>

<body> 
  <header class="text-center">
    <h1> Top 50 Grossing Movies of All Time </h1>
    <h3> Hover over for Gross + Inflation(3%)<h3>
  </header>

  <div class="bs-docs-example">
    <table class="table table-hover">
      <thead> 
        <tr>
          <th>Ranking</th>
          <th>Movie</th>
          <th>Gross USD</th>
          <th>Year</th>
        </tr>
      </thead>
      <tbody>
        <% count = 0 %>
        <% @rs.each do |row| %>
          <% years = 2013 - row[3] %>
          <% years = 1 if years == 0 %>
          <% inflation = (0.03 * years) %>
          <% newgross = (row[2] * ( 1 + inflation)).to_i %>
          <% old = row[2] %>
          <% if count < 10 %>
            <tr>
              <td><%=row[0]%></td>
              <td><%=row[1]%></td>
              <td class="old">$<%= old %></td>
              <td class="new">$<%= newgross %></td> 
              <td><%=row[3]%></td>
            </tr>
            <% count += 1 %>
          <% else %>
            <tr class="overten">
              <td><%=row[0]%></td>
              <td><%=row[1]%></td>
              <td class="old">$<%= old %></td>
              <td class="new">$<%= newgross %></td> 
              <td><%=row[3]%></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="text-center">
	 <button class="above-ten">Show Top 50</button>
  </div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="myscript.js"></script>



	
</body>

</html>